<!DOCTYPE>
<html ng-app="gemStore">
<head>
  <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css" />
</head>
<body ng-controller="StoreController as store">
  <div ng-repeat="product in store.products" ng-hide="product.soldOut">
    <h1>{{ product.name }}</h1>
    <h2>{{ product.price | currency }}</h2>
    <img ng-src="{{product.images[0]}}" />
    <ul>
      <li ng-if="product.images.length" ng-repeat="image in product.images">
        <img ng-src="{{image}}" class="img-thumbnail"/>
      </li>
    </ul>
    <button ng-click="store.purchase(product)">Add to cart!</button>

    <div ng-controller="TabController as tab">
      <ul>
        <li ng-class="{ active : tab.isSet(1) }">
          <a href ng-click="tab.setTab(1)">Description</a>
        </li>
        <li ng-class="{ active : tab.isSet(2) }">
          <a href ng-click="tab.setTab(2)">Specs</a>
        </li>
        <li ng-class="{ active : tab.isSet(3) }">
          <a href ng-click="tab.setTab(3)">Reviews</a>
        </li>
      </ul>

      <div ng-show="tab.isSet(1)">
        <h3>Description</h3>
        <h4>{{ product.description }}</h4>
      </div>

      <div ng-show="tab.isSet(2)">
        <h3>Specs</h3>
        <h4>{{ product.shine }}</h4>
      </div>

      <div ng-show="tab.isSet(3)">
        <h3>Reviews</h3>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="node_modules/angular-i18n/angular-locale_es-ar.js"></script>
  <script type="text/javascript" src="gemStore.js"></script>
  <script type="text/javascript" src="StoreController.js"></script>
  <script type="text/javascript" src="TabController.js"></script>
</body>
</html>
