<!DOCTYPE>
<html ng-app="gemStore">
<head>
  <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css" />
</head>
<body class="container" ng-controller="StoreController as store">
  <main class="row">
    <div class="product row" ng-repeat="product in store.products" ng-hide="product.soldOut">
      <h3>
        {{ product.name }}
        <em class="pull-right">{{ product.price | currency }}</em>
      </h3>
      <button class="btn btn-success" ng-show="product.canPurchase" ng-click="store.purchase(product)">Add to cart!</button>

      <div class="gallery" ng-controller="GalleryController as gallery">
        <img ng-src="{{product.images[gallery.current]}}" class="center-block img-rounded" />
        <ul class="clearfix list-unstyled">
          <li ng-if="product.images.length" ng-repeat="image in product.images" class="pull-left">
            <img ng-src="{{image}}" ng-click="gallery.setCurrent($index)" class="img-thumbnail" />
          </li>
        </ul>
      </div>

      <div class="tab" ng-controller="TabController as tab">
        <ul class="nav nav-pills">
          <li ng-class="{ active : tab.isSet(1) }">
            <a href ng-click="tab.setTab(1)">Description</a>
          </li>
          <li ng-class="{ active : tab.isSet(2) }">
            <a href ng-click="tab.setTab(2)">Specs</a>
          </li>
          <li ng-class="{ active : tab.isSet(3) }">
            <a href ng-click="tab.setTab(3)">Reviews</a>
          </li>
        </ul>

        <product-description ng-show="tab.isSet(1)"></product-description>

        <div ng-show="tab.isSet(2)" product-specs></div>

        <product-reviews ng-show="tab.isSet(3)"></product-reviews>
      </div>
    </div>
  </main>

  <script type="text/javascript" src="node_modules/angular/angular.js"></script>
  <script type="text/javascript" src="node_modules/angular-i18n/angular-locale_es-ar.js"></script>
  <script type="text/javascript" src="gemStore.js"></script>
  <script type="text/javascript" src="StoreController.js"></script>
  <script type="text/javascript" src="TabController.js"></script>
  <script type="text/javascript" src="GalleryController.js"></script>
  <script type="text/javascript" src="ReviewController.js"></script>
  <script type="text/javascript" src="productDescriptionDirective.js"></script>
  <script type="text/javascript" src="productSpecsDirective.js"></script>
  <script type="text/javascript" src="productReviewsDirective.js"></script>
</body>
</html>
